Repository zmkfirmware/zmk, pull requests merged in 2020-07, with the labels that each got.

#54 Expanded dev docs on boards/shields/keymaps.
  docs/docs/dev-boards-shields-keymaps.md
  docs/sidebars.js
Labels: board, documentation

#55 Multiple OS tabs for dev setup instructions
  docs/docs/dev-setup.md
Labels: documentation

#57 Initial Lily58 shield definition.
  .github/workflows/build.yml
  app/boards/shields/lily58/Kconfig.defconfig
  app/boards/shields/lily58/Kconfig.shield
  app/boards/shields/lily58/keymap/keymap.overlay
  app/boards/shields/lily58/lily58.conf
  app/boards/shields/lily58/lily58.dtsi
  app/boards/shields/lily58/lily58_left.overlay
  app/boards/shields/lily58/lily58_right.overlay
Labels: board, enhancement

#56 Initial split BLE infrastructure.
  app/CMakeLists.txt
  app/Kconfig
  app/boards/arm/nice_nano/nice_nano_defconfig
  app/boards/shields/kyria/Kconfig.defconfig
  app/boards/shields/kyria/kyria_left.conf
  app/boards/shields/kyria/kyria_right.conf
  app/boards/shields/lily58/Kconfig.defconfig
  app/boards/shields/lily58/lily58_left.conf
  app/boards/shields/lily58/lily58_right.conf
  app/include/zmk/split/bluetooth/service.h
  app/include/zmk/split/bluetooth/uuid.h
  app/src/ble.c
  app/src/main.c
  app/src/split/bluetooth/central.c
  app/src/split/bluetooth/service.c
  app/src/split_listener.c
Labels: core

#59 Initial low level EC11 sensor driver
  app/boards/shields/kyria/kyria.dtsi
  app/boards/shields/kyria/kyria_left.overlay
  app/boards/shields/kyria/kyria_right.overlay
  app/drivers/zephyr/CMakeLists.txt
  app/drivers/zephyr/Kconfig
  app/drivers/zephyr/dts/bindings/alps,ec11.yaml
  app/drivers/zephyr/ec11.c
  app/drivers/zephyr/ec11.h
  app/drivers/zephyr/ec11_trigger.c
Labels: enhancement, sensors

#61 Add sensor handling to keymaps.
  app/CMakeLists.txt
  app/boards/shields/kyria/keymap/keymap.overlay
  app/boards/shields/kyria/kyria.dtsi
  app/drivers/zephyr/ec11.h
  app/drivers/zephyr/ec11_trigger.c
  app/dts/behaviors.dtsi
  app/dts/behaviors/sensor_rotate_key_press.dtsi
  app/dts/bindings/behaviors/zmk,behavior-sensor-rotate-key-press.yaml
  app/dts/bindings/zmk,keymap-sensors.yaml
  app/dts/bindings/zmk,layers.yaml
  app/include/drivers/behavior.h
  app/include/dt-bindings/zmk/keys.h
  app/include/zmk/events/sensor-event.h
  app/include/zmk/sensors.h
  app/src/behaviors/behavior_sensor_rotate_key_press.c
  app/src/events/sensor_event.c
  app/src/keymap.c
  app/src/sensors.c
Labels: behaviors, core, sensors

#63 Initial display support.
  app/CMakeLists.txt
  app/Kconfig
  app/boards/shields/kyria/Kconfig.defconfig
  app/boards/shields/kyria/kyria.dtsi
  app/boards/shields/lily58/Kconfig.defconfig
  app/boards/shields/lily58/lily58.dtsi
  app/include/zmk/display.h
  app/src/display.c
  app/src/main.c
  app/src/sensors.c
Labels: core, displays, enhancement

#64 Initial RGB Underglow implementation
  app/CMakeLists.txt
  app/Kconfig
  app/boards/arm/nice_nano/nice_nano.dts
  app/dts/behaviors.dtsi
  app/dts/behaviors/rgb_underglow.dtsi
  app/dts/bindings/behaviors/zmk,behavior-rgb-underglow.yaml
  app/include/dt-bindings/zmk/rgb.h
  app/include/zmk/rgb_underglow.h
  app/src/behaviors/behavior_rgb_underglow.c
  app/src/rgb_underglow.c
Labels: behaviors, core, enhancement
