Repository zmkfirmware/zmk, pull requests merged in 2020-06, with the labels that each got.

#5 New logo and color palette.
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/static/img/favicon.ico
  docs/static/img/zmk_logo.png
  docs/static/img/zmk_logo.svg
Labels: documentation

#4 Improved dev setup docs.
  README.md
  docs/docs/dev-setup.md
  docs/docs/intro.md
Labels: documentation

#8 Initial code of conduct documentation.
  CODE_OF_CONDUCT.md
  README.md
  docs/docs/intro.md
Labels: documentation

#22 docs: FAQs (initial version)
  docs/docs/faq.md
  docs/sidebars.js
Labels: documentation

#19 Only install `requirements-base.txt`
  docs/docs/dev-setup.md
Labels: documentation

#31 Initial work on matrix transforms for non-standard matrixes.
  app/boards/shields/kyria/Kconfig.defconfig
  app/boards/shields/kyria/Kconfig.shield
  app/boards/shields/kyria/keymaps/default/include/keymap.h
  app/boards/shields/kyria/keymaps/default/keymap.c
  app/boards/shields/kyria/keymaps/default/keymap.overlay
  app/boards/shields/kyria/kyria.conf
  app/boards/shields/kyria/kyria.overlay
  app/dts/bindings/zmk,keymap.yaml
  app/dts/bindings/zmk,matrix-transform.yaml
  app/include/dt-bindings/zmk/matrix-transform.h
  app/src/keymap.c
Labels: keymaps

#14 Initial basic work on nice!nano board support.
  .github/workflows/build.yml
  app/boards/arm/nice_nano/CMakeLists.txt
  app/boards/arm/nice_nano/Kconfig.board
  app/boards/arm/nice_nano/Kconfig.defconfig
  app/boards/arm/nice_nano/arduino_pro_micro_pins.dtsi
  app/boards/arm/nice_nano/board.cmake
  app/boards/arm/nice_nano/nice_nano.dts
  app/boards/arm/nice_nano/nice_nano.yaml
  app/boards/arm/nice_nano/nice_nano_defconfig
  app/prj.conf
  app/west.yml
Labels: board, help wanted

#29 Initial refactor to have a shield/board have one default keymap.
  app/CMakeLists.txt
  app/boards/shields/petejohanson_handwire/keymap/include/keymap.h
  app/boards/shields/petejohanson_handwire/keymap/keymap.c
  app/boards/shields/petejohanson_handwire/keymap/keymap.overlay
  app/boards/shields/petejohanson_proton_handwire/keymap/include/keymap.h
  app/boards/shields/petejohanson_proton_handwire/keymap/keymap.c
  app/boards/shields/petejohanson_proton_handwire/keymap/keymap.overlay
  app/boards/shields/petejohanson_proton_handwire/keymaps/default/include/keymap.h
  app/cmake/keymap.cmake
  app/cmake/zmk_config.cmake
Labels: board, keymaps

#40 Initial working Clueboard California Macropad w/ proton-c fixes
  .gitignore
  app/boards/arm/planck/planck_rev6.dts
  app/boards/arm/proton_c/board.cmake
  app/boards/shields/clueboard_california/Kconfig.defconfig
  app/boards/shields/clueboard_california/Kconfig.shield
  app/boards/shields/clueboard_california/clueboard_california.conf
  app/boards/shields/clueboard_california/clueboard_california.overlay
  app/boards/shields/clueboard_california/keymap/keymap.overlay
  app/boards/shields/clueboard_california/readme.md
  app/boards/shields/kyria/kyria.overlay
  app/boards/shields/petejohanson_handwire/petejohanson_handwire.overlay
  app/boards/shields/petejohanson_proton_handwire/petejohanson_proton_handwire.overlay
  app/drivers/zephyr/CMakeLists.txt
  app/drivers/zephyr/Kconfig
  app/drivers/zephyr/dts/bindings/zmk,kscan-gpio-direct.yaml
  app/drivers/zephyr/dts/bindings/zmk,kscan-gpio-matrix.yaml
  app/drivers/zephyr/kscan_gpio_direct.c
  app/drivers/zephyr/kscan_gpio_matrix.c
  app/include/zmk/matrix.h
Labels: board

#32 Refactor keymap to behaviors
  app/CMakeLists.txt
  app/boards/native_posix.overlay
  app/boards/shields/kyria/keymap/keymap.overlay
  app/boards/shields/kyria/keymaps/default/include/keymap.h
  app/boards/shields/kyria/keymaps/default/keymap.c
  app/boards/shields/kyria/keymaps/default/keymap.overlay
  app/boards/shields/kyria/kyria.overlay
  app/boards/shields/petejohanson_handwire/keymap/include/keymap.h
  app/boards/shields/petejohanson_handwire/keymap/keymap.c
  app/boards/shields/petejohanson_handwire/keymap/keymap.overlay
  app/boards/shields/petejohanson_proton_handwire/keymap/include/keymap.h
  app/boards/shields/petejohanson_proton_handwire/keymap/keymap.c
  app/boards/shields/petejohanson_proton_handwire/keymap/keymap.overlay
  app/dts/behaviors.dtsi
  app/dts/behaviors/hid.dtsi
  app/dts/behaviors/key_press.dtsi
  app/dts/behaviors/keymap.dtsi
  app/dts/behaviors/mod_tap.dtsi
  app/dts/behaviors/momentary_layer.dtsi
  app/dts/behaviors/reset.dtsi
  app/dts/behaviors/transparent.dtsi
  app/dts/bindings/behaviors/one_param.yaml
  app/dts/bindings/behaviors/two_param.yaml
  app/dts/bindings/behaviors/zero_param.yaml
  app/dts/bindings/behaviors/zmk,behavior-hid.yaml
  app/dts/bindings/behaviors/zmk,behavior-key-press.yaml
  app/dts/bindings/behaviors/zmk,behavior-keymap.yaml
  app/dts/bindings/behaviors/zmk,behavior-mod-tap.yaml
  app/dts/bindings/behaviors/zmk,behavior-momentary-layer.yaml
  app/dts/bindings/behaviors/zmk,behavior-reset.yaml
  app/dts/bindings/behaviors/zmk,behavior-transparent.yaml
  app/dts/bindings/zmk,layers.yaml
  app/include/drivers/behavior.h
  app/include/dt-bindings/zmk/keys.h
  app/include/zmk/behavior.h
  app/include/zmk/endpoints.h
  app/include/zmk/events.h
  app/include/zmk/hid.h
  app/include/zmk/keymap.h
  app/include/zmk/matrix.h
  app/include/zmk/matrix_transform.h
  app/prj.conf
  app/src/behaviors/behavior_hid.c
  app/src/behaviors/behavior_key_press.c
  app/src/behaviors/behavior_keymap.c
  app/src/behaviors/behavior_mod_tap.c
  app/src/behaviors/behavior_momentary_layer.c
  app/src/behaviors/behavior_reset.c
  app/src/behaviors/behavior_transparent.c
  app/src/ble.c
  app/src/endpoints.c
  app/src/events.c
  app/src/handlers.c
  app/src/hid.c
  app/src/keymap.c
  app/src/kscan.c
  app/src/kscan_mock.c
  app/src/matrix_transform.c
Labels: board, keymaps

#41 Kyria left/right overlays, matrix transform fixes
  .github/workflows/build.yml
  app/boards/shields/kyria/Kconfig.defconfig
  app/boards/shields/kyria/Kconfig.shield
  app/boards/shields/kyria/keymap/keymap.overlay
  app/boards/shields/kyria/kyria.dtsi
  app/boards/shields/kyria/kyria_left.overlay
  app/boards/shields/kyria/kyria_right.overlay
  app/dts/bindings/zmk,matrix-transform.yaml
  app/include/zmk/matrix.h
  app/src/keymap.c
  app/src/matrix_transform.c
Labels: board

#42 Refactor to generic event manager, ditch "global behaviors" as a concept.
  app/CMakeLists.txt
  app/Kconfig
  app/dts/behaviors.dtsi
  app/dts/behaviors/hid.dtsi
  app/dts/behaviors/keymap.dtsi
  app/dts/behaviors/mod_tap.dtsi
  app/dts/bindings/behaviors/zmk,behavior-hid.yaml
  app/dts/bindings/behaviors/zmk,behavior-keymap.yaml
  app/include/linker/zmk-events.ld
  app/include/zmk/event-manager.h
  app/include/zmk/events.h
  app/include/zmk/events/keycode-state-changed.h
  app/include/zmk/events/modifiers-state-changed.h
  app/include/zmk/events/position-state-changed.h
  app/src/behaviors/behavior_hid.c
  app/src/behaviors/behavior_key_press.c
  app/src/behaviors/behavior_keymap.c
  app/src/behaviors/behavior_mod_tap.c
  app/src/behaviors/behavior_momentary_layer.c
  app/src/event_manager.c
  app/src/events.c
  app/src/events/keycode_state_changed.c
  app/src/events/modifiers_state_changed.c
  app/src/events/position_state_changed.c
  app/src/hid_listener.c
  app/src/keymap.c
  app/src/kscan.c
Labels: core
