Repository zmkfirmware/zmk, pull requests merged in 2021-10, with the labels that each got.

#681 add Naked60BMP shield
  app/boards/shields/naked60/Kconfig.defconfig
  app/boards/shields/naked60/Kconfig.shield
  app/boards/shields/naked60/naked60.conf
  app/boards/shields/naked60/naked60.keymap
  app/boards/shields/naked60/naked60.overlay
  app/boards/shields/naked60/naked60.zmk.yml
Labels: enhancement, shields

#960 Add board/shield Check-list
  .github/pull_request_template.md
Labels: enhancement

#959 [New Shield] Zodiark
  app/boards/shields/zodiark/Kconfig.defconfig
  app/boards/shields/zodiark/Kconfig.shield
  app/boards/shields/zodiark/zodiark.conf
  app/boards/shields/zodiark/zodiark.dtsi
  app/boards/shields/zodiark/zodiark.keymap
  app/boards/shields/zodiark/zodiark.zmk.yml
  app/boards/shields/zodiark/zodiark_left.overlay
  app/boards/shields/zodiark/zodiark_right.overlay
Labels: enhancement, shields

#726 feat(hid): Configurable NKRO HID report support.
  app/Kconfig
  app/include/zmk/hid.h
  app/src/hid.c
Labels: enhancement, core
