Repository zmkfirmware/zmk, pull requests merged in 2021-11, with the labels that each got.

#1007 Bugfix: decide_hold_tap switch statement needs breaks after cases
  app/src/behaviors/behavior_hold_tap.c
Labels: bug, behaviors

#984 fix(split): Properly rediscover peripherals.
  app/Kconfig
  app/src/split/bluetooth/central.c
Labels: bug, split

#1020 fix(hid): Basic consumer code fixes for signed logical max.
  app/include/zmk/hid.h
Labels: bug, hid

#823 feat(behaviors): Add caps word (`&caps_word`).
  app/CMakeLists.txt
  app/dts/behaviors.dtsi
  app/dts/behaviors/caps_word.dtsi
  app/dts/bindings/behaviors/zmk,behavior-caps-word.yaml
  app/src/behaviors/behavior_caps_word.c
  app/tests/caps-word/behavior_keymap.dtsi
  app/tests/caps-word/continue-with-non-alpha-continue-list-item/events.patterns
  app/tests/caps-word/continue-with-non-alpha-continue-list-item/keycode_events.snapshot
  app/tests/caps-word/continue-with-non-alpha-continue-list-item/native_posix.keymap
  app/tests/caps-word/continue-with-non-modified-numeric-usage-id/events.patterns
  app/tests/caps-word/continue-with-non-modified-numeric-usage-id/keycode_events.snapshot
  app/tests/caps-word/continue-with-non-modified-numeric-usage-id/native_posix.keymap
  app/tests/caps-word/deactivate-by-non-alpha-non-continuation/events.patterns
  app/tests/caps-word/deactivate-by-non-alpha-non-continuation/keycode_events.snapshot
  app/tests/caps-word/deactivate-by-non-alpha-non-continuation/native_posix.keymap
  app/tests/caps-word/deactivate-by-second-press/events.patterns
  app/tests/caps-word/deactivate-by-second-press/keycode_events.snapshot
  app/tests/caps-word/deactivate-by-second-press/native_posix.keymap
  docs/docs/behaviors/caps-word.md
  docs/sidebars.js
Labels: enhancement, behaviors
