Repository zmkfirmware/zmk, pull requests merged in 2021-05, with the labels that each got.

#740 feat(tests): Override test parallelism w/ `J=8` environment.
  app/run-test.sh
Labels: core, enhancement, tests

#752 fix(behaviors): Fix sticky keys quick-release for normal keypresses
  app/src/behaviors/behavior_sticky_key.c
  app/tests/sticky-keys/2-os-dn-up-kcdn-kcup-quick-release/events.patterns
  app/tests/sticky-keys/2-os-dn-up-kcdn-kcup-quick-release/keycode_events.snapshot
  app/tests/sticky-keys/2-os-dn-up-kcdn-kcup-quick-release/native_posix.keymap
Labels: behaviors, bug

#810 feat(boards): Add nice!60 board definition
  app/boards/arm/nice60/CMakeLists.txt
  app/boards/arm/nice60/Kconfig
  app/boards/arm/nice60/Kconfig.board
  app/boards/arm/nice60/Kconfig.defconfig
  app/boards/arm/nice60/README.md
  app/boards/arm/nice60/board.cmake
  app/boards/arm/nice60/nice60.dts
  app/boards/arm/nice60/nice60.keymap
  app/boards/arm/nice60/nice60.yaml
  app/boards/arm/nice60/nice60_defconfig
Labels: board
