Repository zmkfirmware/zmk, pull requests merged in 2022-01, with the labels that each got.

#599 docs(codes): Windows Support: Media Controls
  docs/src/data/hid.js
Labels: documentation

#633 Add Contra shield
  app/boards/shields/contra/Kconfig.defconfig
  app/boards/shields/contra/Kconfig.shield
  app/boards/shields/contra/contra.conf
  app/boards/shields/contra/contra.keymap
  app/boards/shields/contra/contra.overlay
  app/boards/shields/contra/contra.zmk.yml
Labels: enhancement, shields

#1092 Add support for the Clog
  app/boards/shields/clog/Kconfig.defconfig
  app/boards/shields/clog/Kconfig.shield
  app/boards/shields/clog/README.md
  app/boards/shields/clog/clog.conf
  app/boards/shields/clog/clog.dtsi
  app/boards/shields/clog/clog.keymap
  app/boards/shields/clog/clog.zmk.yml
  app/boards/shields/clog/clog_left.overlay
  app/boards/shields/clog/clog_right.overlay
Labels: enhancement, shields

#1097 fix(ble): Restore BLE SC passkey entry for pairing.
  app/include/zmk/ble.h
  app/src/ble.c
Labels: enhancement, core, bluetooth

#1090 Lotus58
  app/boards/shields/lotus58/Kconfig.defconfig
  app/boards/shields/lotus58/Kconfig.shield
  app/boards/shields/lotus58/lotus58.conf
  app/boards/shields/lotus58/lotus58.dtsi
  app/boards/shields/lotus58/lotus58.keymap
  app/boards/shields/lotus58/lotus58.zmk.yml
  app/boards/shields/lotus58/lotus58_left.overlay
  app/boards/shields/lotus58/lotus58_right.overlay
Labels: enhancement, shields
