Repository zmkfirmware/zmk, pull requests merged in 2022-11, with the labels that each got.

#1504 feat(shields): Add splitkb.com Aurora Sweep.
  app/boards/shields/splitkb_aurora_sweep/Kconfig.defconfig
  app/boards/shields/splitkb_aurora_sweep/Kconfig.shield
  app/boards/shields/splitkb_aurora_sweep/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_sweep/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_sweep/splitkb_aurora_sweep.conf
  app/boards/shields/splitkb_aurora_sweep/splitkb_aurora_sweep.dtsi
  app/boards/shields/splitkb_aurora_sweep/splitkb_aurora_sweep.keymap
  app/boards/shields/splitkb_aurora_sweep/splitkb_aurora_sweep.zmk.yml
  app/boards/shields/splitkb_aurora_sweep/splitkb_aurora_sweep_left.overlay
  app/boards/shields/splitkb_aurora_sweep/splitkb_aurora_sweep_right.overlay
Labels: enhancement, shields

#1520 feat(shields): Add splitkb.com Aurora Corne.
  app/boards/shields/splitkb_aurora_corne/Kconfig.defconfig
  app/boards/shields/splitkb_aurora_corne/Kconfig.shield
  app/boards/shields/splitkb_aurora_corne/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_corne/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_corne/splitkb_aurora_corne.conf
  app/boards/shields/splitkb_aurora_corne/splitkb_aurora_corne.dtsi
  app/boards/shields/splitkb_aurora_corne/splitkb_aurora_corne.keymap
  app/boards/shields/splitkb_aurora_corne/splitkb_aurora_corne.zmk.yml
  app/boards/shields/splitkb_aurora_corne/splitkb_aurora_corne_left.overlay
  app/boards/shields/splitkb_aurora_corne/splitkb_aurora_corne_right.overlay
Labels: enhancement, shields

#1545 fix(boards): Fix XIAO BLE voltage divider config.
  app/boards/seeeduino_xiao_ble.overlay
Labels: bug, board

#1338 Cradio keymap improvements
  app/boards/shields/cradio/cradio.keymap
Labels: keymaps
