Repository zmkfirmware/zmk, pull requests merged in 2022-12, with the labels that each got.

#1554 Added Waterfowl shield
  app/boards/shields/waterfowl/Kconfig.defconfig
  app/boards/shields/waterfowl/Kconfig.shield
  app/boards/shields/waterfowl/waterfowl.conf
  app/boards/shields/waterfowl/waterfowl.dtsi
  app/boards/shields/waterfowl/waterfowl.keymap
  app/boards/shields/waterfowl/waterfowl.zmk.yml
  app/boards/shields/waterfowl/waterfowl_left.conf
  app/boards/shields/waterfowl/waterfowl_left.overlay
  app/boards/shields/waterfowl/waterfowl_right.conf
  app/boards/shields/waterfowl/waterfowl_right.overlay
Labels: enhancement, split, shields

#1426 feat(docs): Add testing related remarks to user setup page
  docs/docs/user-setup.md
Labels: documentation

#1607 feat(docs): Generate new shield interconnect docs.
  app/boards/interconnects/arduino_uno/arduino_uno.zmk.yml
  app/boards/interconnects/blackpill/blackpill.zmk.yml
  app/boards/interconnects/pro_micro/pro_micro.zmk.yml
  app/boards/interconnects/seeed_xiao/seeed_xiao.zmk.yml
  docs/docs/assets/interconnects/arduino_uno/pinout.png
  docs/docs/assets/interconnects/blackpill/pinout.png
  docs/docs/assets/interconnects/pro_micro/pinout.png
  docs/docs/assets/interconnects/seeed_xiao/pinout.png
  docs/docs/assets/pro-micro/pro-micro-pins-labelled.jpg
  docs/docs/development/boards-shields-keymaps.md
  docs/docs/development/new-shield.md
  docs/src/components/interconnect-tabs.tsx
  docs/src/data/interconnects/.gitignore
  docs/src/hardware-metadata-collection-plugin/index.js
  schema/hardware-metadata.schema.json
Labels: documentation, enhancement, shields
