Repository zmkfirmware/zmk, pull requests merged in 2022-09, with the labels that each got.

#1136 feat(shields): Add Eternal Keypad
  app/boards/shields/eternal_keypad/Kconfig.defconfig
  app/boards/shields/eternal_keypad/Kconfig.shield
  app/boards/shields/eternal_keypad/README.md
  app/boards/shields/eternal_keypad/boards/nice_nano_v2.overlay
  app/boards/shields/eternal_keypad/eternal_keypad.conf
  app/boards/shields/eternal_keypad/eternal_keypad.dtsi
  app/boards/shields/eternal_keypad/eternal_keypad.keymap
  app/boards/shields/eternal_keypad/eternal_keypad.overlay
  app/boards/shields/eternal_keypad/eternal_keypad.zmk.yml
  app/boards/shields/eternal_keypad/eternal_keypad_lefty.keymap
  app/boards/shields/eternal_keypad/eternal_keypad_lefty.overlay
  app/boards/shields/eternal_keypad/eternal_keypad_lefty.zmk.yml
Labels: enhancement, shields

#1419 fix(docs): corrected mo_tog example on hold-tap page
  docs/docs/behaviors/hold-tap.md
Labels: documentation

#505 Planck keymap
  app/boards/arm/planck/planck_rev6.keymap
  app/boards/shields/crbn/README.md
  app/boards/shields/crbn/crbn.keymap
Labels: enhancement, shields, refactor

#1462 feature(shields): Add nice!view
  .github/workflows/build-user-config.yml
  .github/workflows/build.yml
  app/boards/shields/nice_view/Kconfig.defconfig
  app/boards/shields/nice_view/Kconfig.shield
  app/boards/shields/nice_view/README.md
  app/boards/shields/nice_view/nice_view.conf
  app/boards/shields/nice_view/nice_view.overlay
  app/boards/shields/nice_view/nice_view.zmk.yml
  app/boards/shields/nice_view_adapter/Kconfig.defconfig
  app/boards/shields/nice_view_adapter/Kconfig.shield
  app/boards/shields/nice_view_adapter/README.md
  app/boards/shields/nice_view_adapter/boards/bluemicro840_v1.overlay
  app/boards/shields/nice_view_adapter/boards/mikoto_520.overlay
  app/boards/shields/nice_view_adapter/boards/nice_nano.overlay
  app/boards/shields/nice_view_adapter/boards/nice_nano_v2.overlay
  app/boards/shields/nice_view_adapter/boards/nrfmicro_11.overlay
  app/boards/shields/nice_view_adapter/boards/nrfmicro_11_flipped.overlay
  app/boards/shields/nice_view_adapter/boards/nrfmicro_13.overlay
  app/boards/shields/nice_view_adapter/boards/puchi_ble_v1.overlay
  app/boards/shields/nice_view_adapter/nice_view_adapter.conf
  app/boards/shields/nice_view_adapter/nice_view_adapter.overlay
  app/boards/shields/nice_view_adapter/nice_view_adapter.zmk.yml
  app/core-coverage.yml
  docs/docs/hardware.mdx
  docs/src/components/hardware-utils.ts
Labels: shields

#1295 feat(drivers): Driver for MAX7318 GPIO expander
  app/drivers/gpio/CMakeLists.txt
  app/drivers/gpio/Kconfig
  app/drivers/gpio/Kconfig.max7318
  app/drivers/gpio/gpio_max7318.c
  app/drivers/zephyr/dts/bindings/gpio/maxim,max7318.yaml
Labels: enhancement, core
