Repository zmkfirmware/zmk, pull requests merged in 2022-03, with the labels that each got.

#1162 feat: Add blog post with Zephyr 3.0 prep.
  docs/blog/2022-03-08-zephyr-3-0-upgrade-prep.md
Labels: blog

#1009 feat(shields): Add elephant42 Shield Support
  app/boards/shields/elephant42/Kconfig.defconfig
  app/boards/shields/elephant42/Kconfig.shield
  app/boards/shields/elephant42/boards/nice_nano_v2.overlay
  app/boards/shields/elephant42/elephant42.conf
  app/boards/shields/elephant42/elephant42.dtsi
  app/boards/shields/elephant42/elephant42.keymap
  app/boards/shields/elephant42/elephant42.zmk.yml
  app/boards/shields/elephant42/elephant42_left.overlay
  app/boards/shields/elephant42/elephant42_right.overlay
Labels: enhancement, shields

#1135 Added support for 2% Milk (Updated with metadata)
  app/boards/shields/two_percent_milk/Kconfig.defconfig
  app/boards/shields/two_percent_milk/Kconfig.shield
  app/boards/shields/two_percent_milk/two_percent_milk.conf
  app/boards/shields/two_percent_milk/two_percent_milk.keymap
  app/boards/shields/two_percent_milk/two_percent_milk.overlay
  app/boards/shields/two_percent_milk/two_percent_milk.zmk.yml
Labels: enhancement, shields

#1167 fix(boards): Adjust matrix for BT60v1 to fix the broken right Shift key
  app/boards/arm/bt60/bt60_v1.dts
Labels: shields, refactor

#1177 feat(docs) Add note on locating tmp file in GH action
  docs/docs/troubleshooting.md
Labels: documentation, enhancement

#1197 feat(docs): Add settings_reset build instructions
  docs/docs/troubleshooting.md
Labels: documentation
