Repository zmkfirmware/zmk, pull requests merged in 2023-04, with the labels that each got.

#1734 fix(docs): Make link to keymap upgrader work.
  docs/blog/2023-04-06-zephyr-3-2.md
Labels: bug, blog

#1746 fix(underglow): Move to spi3 for underglow bus.
  app/boards/shields/chalice/boards/nice_nano.overlay
  app/boards/shields/chalice/boards/nice_nano_v2.overlay
  app/boards/shields/corne/boards/nice_nano.overlay
  app/boards/shields/corne/boards/nice_nano_v2.overlay
  app/boards/shields/elephant42/boards/nice_nano.overlay
  app/boards/shields/elephant42/boards/nice_nano_v2.overlay
  app/boards/shields/eternal_keypad/boards/nice_nano.overlay
  app/boards/shields/eternal_keypad/boards/nice_nano_v2.overlay
  app/boards/shields/helix/boards/nice_nano.overlay
  app/boards/shields/helix/boards/nice_nano_v2.overlay
  app/boards/shields/jorne/boards/nice_nano.overlay
  app/boards/shields/jorne/boards/nice_nano_v2.overlay
  app/boards/shields/kyria/boards/nice_nano.overlay
  app/boards/shields/kyria/boards/nice_nano_v2.overlay
  app/boards/shields/lily58/boards/nice_nano.overlay
  app/boards/shields/lily58/boards/nice_nano_v2.overlay
  app/boards/shields/microdox/boards/nice_nano.overlay
  app/boards/shields/microdox/boards/nice_nano_v2.overlay
  app/boards/shields/murphpad/boards/nice_nano.overlay
  app/boards/shields/murphpad/boards/nice_nano_v2.overlay
  app/boards/shields/nibble/boards/nice_nano.overlay
  app/boards/shields/nibble/boards/nice_nano_v2.overlay
  app/boards/shields/redox/boards/nice_nano.overlay
  app/boards/shields/redox/boards/nice_nano_v2.overlay
  app/boards/shields/reviung41/boards/nice_nano.overlay
  app/boards/shields/reviung41/boards/nice_nano_v2.overlay
  app/boards/shields/romac_plus/boards/nice_nano.overlay
  app/boards/shields/romac_plus/boards/nice_nano_v2.overlay
  app/boards/shields/snap/boards/nice_nano.overlay
  app/boards/shields/snap/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_corne/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_corne/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_lily58/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_lily58/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_sweep/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_sweep/boards/nice_nano_v2.overlay
  app/boards/shields/tg4x/boards/nice_nano.overlay
  app/boards/shields/tg4x/boards/nice_nano_v2.overlay
  app/boards/shields/tidbit/boards/nice_nano.overlay
  app/boards/shields/tidbit/boards/nice_nano_v2.overlay
  app/boards/shields/two_percent_milk/boards/nice_nano.overlay
  app/boards/shields/two_percent_milk/boards/nice_nano_v2.overlay
  docs/docs/features/underglow.md
Labels: bug, lighting

#1659 Add virtual key positions for sensors
  app/include/drivers/behavior.h
  app/include/zmk/sensors.h
  app/include/zmk/virtual_key_position.h
  app/src/behaviors/behavior_sensor_rotate_key_press.c
  app/src/combo.c
  app/src/keymap.c
Labels: core, sensors, encoders

#1770 fix(boards): Move nice!60 to SPI3 for underglow
  app/boards/arm/nice60/nice60-pinctrl.dtsi
  app/boards/arm/nice60/nice60.dts
Labels: bug, lighting

#1758 feat(behaviors): Add reusable sensor behaviors.
  app/CMakeLists.txt
  app/Kconfig
  app/Kconfig.behaviors
  app/dts/behaviors/sensor_rotate_key_press.dtsi
  app/dts/bindings/behaviors/zmk,behavior-sensor-rotate-key-press.yaml
  app/dts/bindings/behaviors/zmk,behavior-sensor-rotate-var.yaml
  app/dts/bindings/behaviors/zmk,behavior-sensor-rotate.yaml
  app/include/drivers/behavior.h
  app/src/behaviors/behavior_sensor_rotate.c
  app/src/behaviors/behavior_sensor_rotate_common.c
  app/src/behaviors/behavior_sensor_rotate_common.h
  app/src/behaviors/behavior_sensor_rotate_key_press.c
  app/src/behaviors/behavior_sensor_rotate_var.c
  app/src/keymap.c
  docs/docs/behaviors/sensor-rotate.md
  docs/docs/features/encoders.md
  docs/sidebars.js
Labels: enhancement, behaviors, sensors, encoders

#1627 feat(shields): Add splitkb.com Kyria Rev3.
  app/boards/shields/kyria/Kconfig.defconfig
  app/boards/shields/kyria/Kconfig.shield
  app/boards/shields/kyria/kyria_rev3.conf
  app/boards/shields/kyria/kyria_rev3.dtsi
  app/boards/shields/kyria/kyria_rev3.keymap
  app/boards/shields/kyria/kyria_rev3.zmk.yml
  app/boards/shields/kyria/kyria_rev3_left.overlay
  app/boards/shields/kyria/kyria_rev3_right.overlay
Labels: enhancement, shields

#1769 fix(bluetooth): Revert to Legacy LLCP
  app/Kconfig
Labels: bug, bluetooth
