Repository zmkfirmware/zmk, pull requests merged in 2023-10, with the labels that each got.

#1945 Fix bug with overlapping combos timeouts
  app/src/combo.c
  app/tests/combo/overlapping-combos-4-different-timeouts/events.patterns
  app/tests/combo/overlapping-combos-4-different-timeouts/keycode_events.snapshot
  app/tests/combo/overlapping-combos-4-different-timeouts/native_posix_64.keymap
Labels: behaviors, blog, combos

#1943 feat(blog): Add SOTF #6
  docs/blog/2023-10-05-zmk-sotf-6.md
Labels: blog

#1934 Microdox V2 shield definition
  app/boards/shields/microdox/Kconfig.defconfig
  app/boards/shields/microdox/Kconfig.shield
  app/boards/shields/microdox/README.md
  app/boards/shields/microdox/microdox.dtsi
  app/boards/shields/microdox/microdox_common.dtsi
  app/boards/shields/microdox/microdox_v2.conf
  app/boards/shields/microdox/microdox_v2.dtsi
  app/boards/shields/microdox/microdox_v2.zmk.yml
  app/boards/shields/microdox/microdox_v2_left.conf
  app/boards/shields/microdox/microdox_v2_left.overlay
  app/boards/shields/microdox/microdox_v2_right.conf
  app/boards/shields/microdox/microdox_v2_right.overlay
Labels: shields

#1962 fix(blog): Correct incorrect info re: global-quick-tap
  docs/blog/2023-10-05-zmk-sotf-6.md
Labels: bug, blog

#1948 feat(shields): Add ZMK Uno nice!view support.
  app/boards/shields/zmk_uno/zmk_uno.overlay
Labels: enhancement, displays, shields

#1935 Reviung34 shield definition
  app/boards/shields/reviung34/Kconfig.defconfig
  app/boards/shields/reviung34/Kconfig.shield
  app/boards/shields/reviung34/README.md
  app/boards/shields/reviung34/boards/nice_nano_v2.overlay
  app/boards/shields/reviung34/reviung34.conf
  app/boards/shields/reviung34/reviung34.keymap
  app/boards/shields/reviung34/reviung34.overlay
  app/boards/shields/reviung34/reviung34.zmk.yml
Labels: shields

#1966 feat: Print Kconfig and DTS for failed builds
  .github/workflows/build-user-config.yml
Labels: enhancement, user configs

#1937 Reviung53 shield definition
  app/boards/shields/reviung53/Kconfig.defconfig
  app/boards/shields/reviung53/Kconfig.shield
  app/boards/shields/reviung53/boards/nice_nano.overlay
  app/boards/shields/reviung53/boards/nice_nano_v2.overlay
  app/boards/shields/reviung53/reviung53.conf
  app/boards/shields/reviung53/reviung53.keymap
  app/boards/shields/reviung53/reviung53.overlay
  app/boards/shields/reviung53/reviung53.zmk.yml
Labels: shields
