Repository zmkfirmware/zmk, pull requests merged in 2023-01, with the labels that each got.

#1617 fix(ci): Escape ` from JSON metadata files.
  .github/workflows/build.yml
Labels: bug, github_actions

#1619 fix(ci): Fix another spot where ` needs escaping.
  .github/workflows/build.yml
Labels: bug, github_actions

#1553 feat(shields): Add splitkb.com Aurora Lily58.
  app/boards/shields/splitkb_aurora_lily58/Kconfig.defconfig
  app/boards/shields/splitkb_aurora_lily58/Kconfig.shield
  app/boards/shields/splitkb_aurora_lily58/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_lily58/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_lily58/splitkb_aurora_lily58.conf
  app/boards/shields/splitkb_aurora_lily58/splitkb_aurora_lily58.dtsi
  app/boards/shields/splitkb_aurora_lily58/splitkb_aurora_lily58.keymap
  app/boards/shields/splitkb_aurora_lily58/splitkb_aurora_lily58.zmk.yml
  app/boards/shields/splitkb_aurora_lily58/splitkb_aurora_lily58_left.overlay
  app/boards/shields/splitkb_aurora_lily58/splitkb_aurora_lily58_right.overlay
Labels: enhancement, shields

#1602 fix(driver): Fix potentially buggy read/write routines for max7318 driver
  app/drivers/gpio/gpio_max7318.c
Labels: bug, chore
