Repository zmkfirmware/zmk, pull requests merged in 2023-11, with the labels that each got.

#1993 refactor(hid): Use proper defines for HID values.
  app/include/zmk/hid.h
  app/src/hid.c
  app/src/hog.c
Labels: refactor, hid

#1793 Boot protocol support (based on #1140, with some refactoring)
  app/Kconfig
  app/include/zmk/hid.h
  app/include/zmk/usb_hid.h
  app/src/endpoints.c
  app/src/hid.c
  app/src/usb.c
  app/src/usb_hid.c
Labels: enhancement, hid

#2004 feat(build): Add support for artifact-name in build.yaml
  .github/workflows/build-user-config.yml
Labels: user configs

#2002 fix(docs): Fix debouncing driver support note
  docs/docs/features/debouncing.md
Labels: documentation

#2006 fix(usb): Tweak how ZMK_USB gets enabled.
  app/Kconfig
  app/boards/arm/bdn9/Kconfig.defconfig
  app/boards/arm/bdn9/bdn9_rev2_defconfig
  app/boards/arm/bluemicro840/Kconfig.defconfig
  app/boards/arm/bluemicro840/bluemicro840_v1_defconfig
  app/boards/arm/bt60/Kconfig.defconfig
  app/boards/arm/bt60/bt60_v1_defconfig
  app/boards/arm/bt60/bt60_v1_hs_defconfig
  app/boards/arm/ckp/Kconfig.defconfig
  app/boards/arm/ckp/bt60_v2_defconfig
  app/boards/arm/ckp/bt65_v1_defconfig
  app/boards/arm/ckp/bt75_v1_defconfig
  app/boards/arm/corneish_zen/Kconfig.defconfig
  app/boards/arm/corneish_zen/corneish_zen_v1_left_defconfig
  app/boards/arm/corneish_zen/corneish_zen_v1_right_defconfig
  app/boards/arm/corneish_zen/corneish_zen_v2_left_defconfig
  app/boards/arm/corneish_zen/corneish_zen_v2_right_defconfig
  app/boards/arm/dz60rgb/Kconfig.defconfig
  app/boards/arm/dz60rgb/dz60rgb_rev1_defconfig
  app/boards/arm/ferris/Kconfig.defconfig
  app/boards/arm/kbdfans_tofu65/Kconfig.defconfig
  app/boards/arm/kbdfans_tofu65/kbdfans_tofu65_v2_defconfig
  app/boards/arm/mikoto/Kconfig.defconfig
  app/boards/arm/mikoto/mikoto_520_defconfig
  app/boards/arm/nice60/Kconfig.defconfig
  app/boards/arm/nice60/nice60_defconfig
  app/boards/arm/nice_nano/Kconfig.defconfig
  app/boards/arm/nice_nano/nice_nano_defconfig
  app/boards/arm/nice_nano/nice_nano_v2_defconfig
  app/boards/arm/nrf52840_m2/Kconfig.defconfig
  app/boards/arm/nrf52840_m2/nrf52840_m2_defconfig
  app/boards/arm/nrfmicro/Kconfig.defconfig
  app/boards/arm/nrfmicro/nrfmicro_11_defconfig
  app/boards/arm/nrfmicro/nrfmicro_11_flipped_defconfig
  app/boards/arm/nrfmicro/nrfmicro_13_52833_defconfig
  app/boards/arm/nrfmicro/nrfmicro_13_defconfig
  app/boards/arm/pillbug/Kconfig.defconfig
  app/boards/arm/pillbug/pillbug_defconfig
  app/boards/arm/planck/Kconfig.defconfig
  app/boards/arm/planck/planck_rev6_defconfig
  app/boards/arm/preonic/Kconfig.defconfig
  app/boards/arm/preonic/preonic_rev3_defconfig
  app/boards/arm/proton_c/Kconfig.defconfig
  app/boards/arm/proton_c/proton_c_defconfig
  app/boards/arm/puchi_ble/Kconfig.defconfig
  app/boards/arm/puchi_ble/puchi_ble_v1_defconfig
  app/boards/arm/s40nc/Kconfig.defconfig
  app/boards/arm/s40nc/s40nc_defconfig
  app/boards/shields/nibble/Kconfig.defconfig
  app/src/split/bluetooth/Kconfig
Labels: bug, split, usb

#1991 Pointer Core: HID, mouse keys behavior, etc.
  app/CMakeLists.txt
  app/Kconfig
  app/Kconfig.behaviors
  app/dts/behaviors.dtsi
  app/dts/behaviors/mouse_key_press.dtsi
  app/dts/bindings/behaviors/zmk,behavior-mouse-key-press.yaml
  app/include/dt-bindings/zmk/hid_usage_pages.h
  app/include/dt-bindings/zmk/mouse.h
  app/include/zmk/endpoints.h
  app/include/zmk/events/mouse_button_state_changed.h
  app/include/zmk/hid.h
  app/include/zmk/hog.h
  app/include/zmk/mouse.h
  app/include/zmk/usb_hid.h
  app/src/behaviors/behavior_mouse_key_press.c
  app/src/endpoints.c
  app/src/events/mouse_button_state_changed.c
  app/src/hid.c
  app/src/hog.c
  app/src/mouse.c
  app/src/usb_hid.c
  app/tests/mouse-keys/mkp/events.patterns
  app/tests/mouse-keys/mkp/keycode_events.snapshot
  app/tests/mouse-keys/mkp/native_posix.keymap
  app/tests/mouse-keys/mkp/native_posix_64.keymap
  docs/docs/behaviors/mouse-emulation.md
  docs/sidebars.js
Labels: enhancement, core

#2030 Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: chore

#2015 feat(build): Add support for artifact-name in build.yaml, correctly
  .github/workflows/build-user-config.yml
Labels: enhancement, user configs

#2039 docs: Document adding USB logging to a standalone board
  docs/docs/development/usb-logging.md
Labels: documentation, enhancement

#2022 feat(ble): Only update BAS when active
  app/src/battery.c
Labels: enhancement, bluetooth
