Repository zmkfirmware/zmk, pull requests merged in 2023-09, with the labels that each got.

#1917 fix(docs): Remove diode-direction from direct GPIO driver
  docs/docs/config/kscan.md
Labels: documentation

#1916 docs: Document necessary flags for kscan GPIOs
  docs/docs/config/kscan.md
Labels: documentation

#1914 docs: Correct default macro timings, note DT limits
  docs/docs/behaviors/macros.md
Labels: documentation, behaviors

#1918 feat(docs): Document persisted settings and debouncing
  docs/docs/behaviors/backlight.md
  docs/docs/behaviors/bluetooth.md
  docs/docs/behaviors/outputs.md
  docs/docs/behaviors/power.md
  docs/docs/behaviors/underglow.md
Labels: documentation, behaviors

#1873 feat(shields): Add splitkb.com Aurora Helix
  app/boards/shields/splitkb_aurora_helix/Kconfig.defconfig
  app/boards/shields/splitkb_aurora_helix/Kconfig.shield
  app/boards/shields/splitkb_aurora_helix/boards/nice_nano.overlay
  app/boards/shields/splitkb_aurora_helix/boards/nice_nano_v2.overlay
  app/boards/shields/splitkb_aurora_helix/splitkb_aurora_helix.conf
  app/boards/shields/splitkb_aurora_helix/splitkb_aurora_helix.dtsi
  app/boards/shields/splitkb_aurora_helix/splitkb_aurora_helix.keymap
  app/boards/shields/splitkb_aurora_helix/splitkb_aurora_helix.zmk.yml
  app/boards/shields/splitkb_aurora_helix/splitkb_aurora_helix_left.overlay
  app/boards/shields/splitkb_aurora_helix/splitkb_aurora_helix_right.overlay
Labels: enhancement, shields

#1913 feat(split): Use directed advertising.
  app/src/split/bluetooth/Kconfig
  app/src/split/bluetooth/central.c
  app/src/split/bluetooth/peripheral.c
Labels: enhancement, split, bluetooth

#1301 feat(drivers): add driver for MAX17048 fuel gauge
  app/module/drivers/sensor/CMakeLists.txt
  app/module/drivers/sensor/Kconfig
  app/module/drivers/sensor/max17048/CMakeLists.txt
  app/module/drivers/sensor/max17048/Kconfig
  app/module/drivers/sensor/max17048/max17048.c
  app/module/drivers/sensor/max17048/max17048.h
  app/module/dts/bindings/sensor/maxim,max17048.yml
Labels: enhancement, core

#1932 Leeloo-Micro set status disabled for encoders.
  app/boards/shields/leeloo_micro/leeloo_micro.dtsi
Labels: bug, shields

#1921 fix(driver): Fix broken compilation for MAX7318 driver
  app/module/drivers/gpio/gpio_max7318.c
  app/module/dts/bindings/gpio/maxim,max7318.yaml
Labels: bug

#1938 feat(hid): Add apple globe keycode
  app/include/dt-bindings/zmk/keys.h
  docs/src/data/groups.js
  docs/src/data/hid.js
Labels: hid
