Repository zmkfirmware/zmk, pull requests merged in 2023-06, with the labels that each got.

#1816 feat(docs): Add note on modifier functions to macros
  docs/docs/behaviors/macros.md
Labels: documentation

#1817 feat(docs): Add behavior types section for hold-tap
  docs/docs/behaviors/hold-tap.md
Labels: documentation

#1822 fix(bluetooth): Passkey pairing improvements.
  app/Kconfig
  app/src/ble.c
  docs/docs/config/bluetooth.md
Labels: enhancement, bluetooth

#1824 fix(boards): Proper i2c pinctrl for BlueMicro840
  app/boards/arm/bluemicro840/bluemicro840_v1-pinctrl.dtsi
Labels: bug, board

#836 feat(split): allow central to connect to multiple peripherals
  app/include/zmk/ble.h
  app/src/ble.c
  app/src/split/bluetooth/Kconfig
  app/src/split/bluetooth/central.c
Labels: enhancement, split, bluetooth

#1409 fix: #1281 change user-setup.md order to agree with order in setup sc…
  docs/docs/user-setup.md
Labels: documentation

#1802 fix: Enable BT_TINYCRYPT_ECC when using HCI
  app/Kconfig
Labels: bluetooth

#1807 refactor(split): allow central to define connection parameters
  app/src/split/bluetooth/Kconfig
  app/src/split/bluetooth/central.c
Labels: enhancement, split

#1844 fix(sensors): Sensor rotate behavior fix for layers.
  app/src/behaviors/behavior_sensor_rotate_common.c
Labels: bug, behaviors, sensors
