Repository zmkfirmware/zmk, pull requests merged in 2024-10, with the labels that each got.

#2522 feat(boards): PM RP2040 flash settings support.
  app/boards/sparkfun_pro_micro_rp2040.conf
  app/boards/sparkfun_pro_micro_rp2040.overlay
Labels: enhancement, board

#2529 fix(boards): Corneish-zen physical layout
  app/boards/arm/corneish_zen/corneish_zen.dtsi
Labels: bug, board

#2532 feat: A few enhancements to our RPC messages.
  app/src/keymap.c
  app/src/studio/keymap_subsystem.c
  app/west.yml
Labels: enhancement, studio

#2506 feat: Add basic metadata info to new behavior guide.
  docs/docs/development/new-behavior.mdx
Labels: documentation, behaviors

#2543 docs: Remove download for settings_reset and note local build
  docs/docs/assets/troubleshooting/splitpairing/corecoverage.png
  docs/docs/troubleshooting/connection-issues.mdx
Labels: documentation

#2505 feat: Tweaks for reduced nanopb stack usage.
  app/west.yml
Labels: enhancement, studio

#2547 fix(studio): Reduce stack usage.
  app/src/studio/Kconfig
Labels: studio

#2533 docs: Physical layout docs improvements
  docs/docs/assets/hardware-integration/numpad.svg
  docs/docs/config/kscan.md
  docs/docs/config/layout.md
  docs/docs/development/hardware-integration/new-shield.mdx
  docs/docs/development/hardware-integration/physical-layouts.md
  docs/docs/development/hardware-integration/studio-setup.md
  docs/docs/features/studio.md
  docs/sidebars.js
  docs/static/_redirects
Labels: documentation, studio

#2458 fix(usb): detect USB power mode to fallback to BLE
  app/include/zmk/usb.h
  app/src/usb.c
Labels: bug, usb

#2558 docs: Add note about .keymap changes when using Studio
  docs/docs/features/studio.md
Labels: documentation, studio

#1786 refactor(shields): MurphPad
  app/boards/shields/murphpad/Kconfig.defconfig
  app/boards/shields/murphpad/boards/nice_nano.conf
  app/boards/shields/murphpad/boards/nice_nano.overlay
  app/boards/shields/murphpad/boards/nice_nano_v2.overlay
  app/boards/shields/murphpad/murphpad-layout.dtsi
  app/boards/shields/murphpad/murphpad.conf
  app/boards/shields/murphpad/murphpad.keymap
  app/boards/shields/murphpad/murphpad.overlay
Labels: shields, refactor

#2565 fix: Optimize layout changes by doing runtime mapping
  app/include/zmk/physical_layouts.h
  app/src/keymap.c
  app/src/physical_layouts.c
  app/src/studio/keymap_subsystem.c
Labels: enhancement, studio

#603 docs(codes): Android Support: Basic Controls and Input + Display
  docs/src/data/hid.js
Labels: documentation

#2567 QAZ shield: added three physical layouts
  app/boards/shields/qaz/qaz-layouts.dtsi
  app/boards/shields/qaz/qaz.overlay
Labels: shields, studio

#2568 chore(studio): Only clear settings for overridden key positions.
  app/src/keymap.c
Labels: studio

#2590 chore: updated path-to-regexp in docs
  docs/package-lock.json
Labels: chore, dependencies

#2508 docs: Added a page on pin control for ZMK
  docs/docs/development/hardware-integration/new-shield.mdx
  docs/docs/development/hardware-integration/pinctrl.mdx
  docs/docs/development/hardware-integration/shift-registers.md
  docs/sidebars.js
  docs/src/components/interconnect-tabs.tsx
Labels: documentation

#2548 docs: Devcontainers-cli enhancement
  .devcontainer/devcontainer.json
  docs/docs/development/local-toolchain/build-flash.mdx
  docs/docs/development/local-toolchain/setup/container.mdx
  docs/docs/development/local-toolchain/setup/docker.md
  docs/docs/development/local-toolchain/setup/index.md
  docs/sidebars.js
Labels: documentation

#2360 docs: Add a hardware issues page under troubleshooting
  app/boards/shields/tester_pro_micro/Kconfig.defconfig
  app/boards/shields/tester_pro_micro/Kconfig.shield
  app/boards/shields/tester_pro_micro/tester_pro_micro.keymap
  app/boards/shields/tester_pro_micro/tester_pro_micro.overlay
  app/boards/shields/tester_pro_micro/tester_pro_micro.zmk.yml
  app/boards/shields/tester_xiao/Kconfig.defconfig
  app/boards/shields/tester_xiao/Kconfig.shield
  app/boards/shields/tester_xiao/tester_xiao.keymap
  app/boards/shields/tester_xiao/tester_xiao.overlay
  app/boards/shields/tester_xiao/tester_xiao.zmk.yml
  docs/docs/assets/troubleshooting/multimeter/schematic_probe_example.png
  docs/docs/troubleshooting/connection-issues.mdx
  docs/docs/troubleshooting/hardware-issues.mdx
  docs/sidebars.js
Labels: documentation, enhancement
