Repository zmkfirmware/zmk, pull requests merged in 2024-02, with the labels that each got.

#2164 fix(build): Used a fixed temp dir for caching.
  .github/workflows/build-user-config.yml
Labels: bug, user configs, github_actions

#2168 fix(boards): Tweaks for Ferris rev0.2 for Zephyr.
  app/boards/arm/ferris/ferris_rev02.dts
Labels: bug, board

#1994 refactor: address transport switch enumeration warning
  app/src/endpoints.c
Labels: core, refactor
