Repository zmkfirmware/zmk, pull requests merged in 2025-07, with the labels that each got.

#3001 docs: Document requirements-extra.txt and endpoint selection for Studio
  docs/docs/development/local-toolchain/setup/native.mdx
  docs/docs/features/studio.md
Labels: documentation

#2942 fix(behaviors): Correct macro release state for parametrized macros
  app/src/behaviors/behavior_macro.c
  app/tests/macros/param-then-no-param/events.patterns
  app/tests/macros/param-then-no-param/keycode_events.snapshot
  app/tests/macros/param-then-no-param/native_posix_64.keymap
Labels: bug, behaviors

#3010 fix(split): Enable wired split by default if DTS is set
  app/src/split/Kconfig
  docs/docs/config/split.md
Labels: bug, split

#2757 Optimize build workflow
  .github/workflows/ble-test.yml
  .github/workflows/build-user-config.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: github_actions
