Repository zmkfirmware/zmk, pull requests merged in 2025-02, with the labels that each got.

#2759 feat(pointing): Add pre-defined scroll scaler and mouse scroll tests
  app/dts/input/processors/scaler.dtsi
  app/tests/pointing/mouse-scroll/move_diagonal/events.patterns
  app/tests/pointing/mouse-scroll/move_diagonal/keycode_events.snapshot
  app/tests/pointing/mouse-scroll/move_diagonal/native_posix_64.conf
  app/tests/pointing/mouse-scroll/move_diagonal/native_posix_64.keymap
  app/tests/pointing/mouse-scroll/move_hwheel/events.patterns
  app/tests/pointing/mouse-scroll/move_hwheel/keycode_events.snapshot
  app/tests/pointing/mouse-scroll/move_hwheel/native_posix_64.conf
  app/tests/pointing/mouse-scroll/move_hwheel/native_posix_64.keymap
  app/tests/pointing/mouse-scroll/move_wheel/events.patterns
  app/tests/pointing/mouse-scroll/move_wheel/keycode_events.snapshot
  app/tests/pointing/mouse-scroll/move_wheel/native_posix_64.conf
  app/tests/pointing/mouse-scroll/move_wheel/native_posix_64.keymap
  app/tests/pointing/mouse-scroll/processors/move_diagonal_scaling/events.patterns
  app/tests/pointing/mouse-scroll/processors/move_diagonal_scaling/keycode_events.snapshot
  app/tests/pointing/mouse-scroll/processors/move_diagonal_scaling/native_posix_64.conf
  app/tests/pointing/mouse-scroll/processors/move_diagonal_scaling/native_posix_64.keymap
  app/tests/pointing/mouse-scroll/processors/move_diagonal_xy_invert/events.patterns
  app/tests/pointing/mouse-scroll/processors/move_diagonal_xy_invert/keycode_events.snapshot
  app/tests/pointing/mouse-scroll/processors/move_diagonal_xy_invert/native_posix_64.conf
  app/tests/pointing/mouse-scroll/processors/move_diagonal_xy_invert/native_posix_64.keymap
  docs/docs/keymaps/input-processors/index.md
  docs/docs/keymaps/input-processors/scaler.md
Labels: tests, pointers

#2812 Posix lvgl fixes
  app/src/display/Kconfig
  app/src/display/main.c
  app/src/main.c
  app/src/usb_hid.c
Labels: bug, displays

#2753 feat(shields): Add physical layout for Lotus58
  app/boards/shields/lotus58/lotus58-layouts.dtsi
  app/boards/shields/lotus58/lotus58.dtsi
  app/boards/shields/lotus58/lotus58.zmk.yml
Labels: shields, studio

#2814 feat(display): Add ability to set display on/off pin.
  app/src/display/main.c
  docs/docs/config/displays.md
Labels: enhancement, displays

#2819 feat(display): Add config for display update period
  app/src/display/Kconfig
  app/src/display/main.c
  docs/docs/config/displays.md
Labels: enhancement, displays

#2456 feat(docs): Added a page on module creation
  docs/docs/development/module-creation.md
  docs/sidebars.js
Labels: documentation

#2837 refactor(combos): Reduce combo RAM usage
  app/src/combo.c
Labels: enhancement, combos

#2838 refactor(behaviors): Add max-held tap-dance config
  app/CMakeLists.txt
  app/Kconfig.behaviors
  app/Kconfig.defaults
  app/src/behaviors/behavior_tap_dance.c
  docs/docs/config/behaviors.md
Labels: behaviors, refactor

#2840 docs: Add query strings to tabs
  docs/docs/development/hardware-integration/dongle.mdx
  docs/docs/development/hardware-integration/index.mdx
  docs/docs/development/hardware-integration/lighting/backlight.mdx
  docs/docs/development/hardware-integration/new-shield.mdx
  docs/docs/development/hardware-integration/pinctrl.mdx
  docs/docs/development/hardware-integration/pointing.mdx
  docs/docs/development/hardware-integration/soft-off-setup.mdx
  docs/docs/development/local-toolchain/build-flash.mdx
  docs/docs/development/local-toolchain/setup/container.mdx
  docs/docs/development/local-toolchain/setup/native.mdx
  docs/docs/development/usb-logging.mdx
  docs/docs/keymaps/behaviors/hold-tap.mdx
  docs/docs/keymaps/behaviors/tap-dance.mdx
  docs/docs/troubleshooting/hardware-issues.mdx
  docs/docs/user-setup.mdx
  docs/src/components/interconnect-tabs.tsx
Labels: documentation

#2758 fix(behaviors): Make multiple sticky keys work on same key position
  app/src/behaviors/behavior_sticky_key.c
  app/tests/sticky-keys/12-macro/events.patterns
  app/tests/sticky-keys/12-macro/keycode_events.snapshot
  app/tests/sticky-keys/12-macro/native_posix_64.keymap
  app/tests/sticky-keys/12-same-position-mods/events.patterns
  app/tests/sticky-keys/12-same-position-mods/keycode_events.snapshot
  app/tests/sticky-keys/12-same-position-mods/native_posix_64.keymap
  app/tests/sticky-keys/12-same-position-sk-sl/events.patterns
  app/tests/sticky-keys/12-same-position-sk-sl/keycode_events.snapshot
  app/tests/sticky-keys/12-same-position-sk-sl/native_posix_64.keymap
Labels: behaviors, tests

#2843 refactor(behaviors): Remove unneeded init funcs.
  app/src/behaviors/behavior_backlight.c
  app/src/behaviors/behavior_bt.c
  app/src/behaviors/behavior_ext_power.c
  app/src/behaviors/behavior_key_press.c
  app/src/behaviors/behavior_key_repeat.c
  app/src/behaviors/behavior_key_toggle.c
  app/src/behaviors/behavior_mod_morph.c
  app/src/behaviors/behavior_momentary_layer.c
  app/src/behaviors/behavior_mouse_key_press.c
  app/src/behaviors/behavior_none.c
  app/src/behaviors/behavior_outputs.c
  app/src/behaviors/behavior_reset.c
  app/src/behaviors/behavior_rgb_underglow.c
  app/src/behaviors/behavior_sensor_rotate.c
  app/src/behaviors/behavior_sensor_rotate_var.c
  app/src/behaviors/behavior_soft_off.c
  app/src/behaviors/behavior_studio_unlock.c
  app/src/behaviors/behavior_to_layer.c
  app/src/behaviors/behavior_toggle_layer.c
  app/src/behaviors/behavior_transparent.c
  docs/docs/development/new-behavior.mdx
Labels: behaviors, refactor
